.App {
  text-align: center;
}
html { background-color: #f4f6ef; }
body {
  min-height: 100vh;
  margin: 0 auto;
}
#root {
  min-height: 100vh;
  margin: 0 auto;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  padding: 20px;
  text-align: center;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}

.cg-wrap piece.bishop.white {
  background-image: url("shared/assets/chess-pieces/wB.svg") !important;
}
.cg-wrap piece.queen.white {
  background-image: url("shared/assets/chess-pieces/wQ.svg") !important;
}
.cg-wrap piece.king.white {
  background-image: url("shared/assets/chess-pieces/wK.svg") !important;
}
.cg-wrap piece.pawn.white {
   background-image: url("shared/assets/chess-pieces/wP.svg") !important;
 }
.cg-wrap piece.rook.white {
  background-image: url("shared/assets/chess-pieces/wR.svg") !important;
}
.cg-wrap piece.knight.white {
  background-image: url("shared/assets/chess-pieces/wN.svg") !important;
}


.cg-wrap piece.bishop.black {
  background-image: url("shared/assets/chess-pieces/bB.svg") !important;
}
.cg-wrap piece.queen.black {
  background-image: url("shared/assets/chess-pieces/bQ.svg") !important;
}
.cg-wrap piece.king.black {
  background-image: url("shared/assets/chess-pieces/bK.svg") !important;
}
.cg-wrap piece.pawn.black {
  background-image: url("shared/assets/chess-pieces/bP.svg") !important;
  fill: none;
  stroke: #646464;
  stroke-width: 1px;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}
.cg-wrap piece.rook.black {
  background-image: url("shared/assets/chess-pieces/bR.svg") !important;
}
.cg-wrap piece.knight.black {
  background-image: url("shared/assets/chess-pieces/bN.svg") !important;
}
.cg-wrap {
  background-image: url('shared/assets/board.svg') !important;
}
